@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "vue3-carousel/dist/carousel.css";
@plugin "daisyui";

@layer base {
  body {
    @apply bg-black text-white antialiased;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
  }
  section {
    content-visibility: auto;
    contain-intrinsic-size: 1px 500px;
  }
}
@layer utilities {
}
